.index-header{
	margin-top: 80px;
}

.index-header .header-logo{
	float: left;
	text-align: center;
}

.index-header .header-logo a{
	width: 195px;
	height: 100px;
	background: url("../images/header-logo.png");
	margin: 0;
}

.index-header .header-logo p{
	font-size: 36px;
	margin: 0;
	line-height: 1em;
}

.header-navigation{
	float: right;
}

.header-navigation .item{
	float: left;
	width: 110px;
	height: 45px;
	background: url("../images/navigation-bg1.png") ;
	margin-left: 10px;
}

.header-navigation .item:hover{
	background: url("../images/navigation-bg2.png") ;
}

.header-navigation .item a{
	line-height: 45px;
	text-align: center;
	color: #fff;
}

.content-me{
	width: 1285px;
	margin-top: 30px;
	padding: 20px;
	border:3px solid #ccc;
	font-size:35px;
	color: #fff;
	background: url("../images/me-images/bg.png");
	letter-spacing: 10px;
}
.content-me h3{
	background: #ccc;
	text-align: center;
}

.index-footer{
	margin-top: 50px;
}
.index-footer a{
	text-align: center;
}